body {
  margin: 0;
  padding: 0;
  width: 100%;
}

@font-face {
  font-family: font_italic;
  src: url(build/assets/font/iCielBC1676ModernMap-Italic_0.ttf);
}

@font-face {
  font-family: regular;
  src: url(build/assets/font/iCielBCAuthentico-Regular.otf);
}

.nav {
  background-color: #111111;
  width: 100%;
}

.nav .previous {
  width: 20px;
  padding: 5px 10px 5px 10px;
  background-color: #ff6903;
  color: white;
  float: left;
}

.nav .logo {
  float: left;
}

.nav .logo img {
  width: 60px;
  margin-left: 10px;
  margin-top: 5px;
}

.nav .magazine {
  display: inline-block;
}

.nav .magazine img {
  height: 30px;
  margin-top: 3px;
}

.nav .button {
  padding-top: 4px;
  float: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav .button .button-share {
  margin-top: 3px;
  height: 16px;
  font-size: 0.9em;
  color: white;
  background-color: #445d9f;
  margin-left: 2px;
  padding: 2px;
  border-radius: 5px;
}

.nav .button .img {
  padding-top: 2px;
  margin-left: 2px;
  height: 20px;
}

.container {
  background-color: #e7e4df;
  width: 100%;
  height: auto;
}

.container .banner {
  position: relative;
  width: 100%;
  margin-bottom: -6px;
}

.container .banner img {
  width: 100%;
}

.container .banner .wedding {
  color: white;
  position: absolute;
  top: 70px;
  left: 10%;
  font-size: 3.5rem;
}

.content {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content .picture-1 .text-1, .content .picture-1 .text-3 {
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 2em;
}

.content .picture-1 .text-1 a, .content .picture-1 .text-3 a {
  margin-top: 10px;
}

@media screen and (min-width: 800px) {
  .one img,
  .three img {
    width: 50%;
    float: left;
  }
  .text-1,
  .text-3 {
    padding-top: 5em;
    padding-left: 2em;
    float: left;
  }
  .text-2 {
    float: left;
    width: 40%;
    margin: 6em 3em 0 3em;
  }
  .two img {
    width: 50%;
    float: left;
  }
}

@media screen and (max-width: 1000px) {
  .image img {
    width: 100%;
  }
  .text {
    margin: 3em 1em 2em 1em;
  }
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.first {
  padding: 0;
  margin: 0;
  font-family: font_italic;
  color: #c4472b;
  font-size: 1.9rem;
}

.family {
  color: #c4472b;
  font-family: regular;
  font-size: 1.7rem;
  margin: 20px 0 20px 0;
}

.second {
  padding-top: 0;
  font-family: font_italic;
  font-size: 1.5rem;
  color: #c4472b;
  padding-bottom: 20px;
}

.map {
  color: white;
  background-color: #c4472b;
  padding: 5px 20px 5px 20px;
  font-family: font_italic;
  font-size: 1.4em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.album {
  margin-top: 3em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url(src/assets/images/br.jpg);
}

.album img {
  width: 32.8%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 2px;
}

.footer {
  margin-top: 4em;
}

.footer img {
  width: 100%;
}

.prev {
  left: -11px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 4vw 2vw;
  margin: 72px 0px 0px 11px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 2px;
  border-radius: 3px 0 0 3px;
}

.pointer a:hover {
  background-color: rgba(221, 217, 217, 0.3);
}
/*# sourceMappingURL=web-style.css.map */