$mycolor: rgb(196, 71, 43);

body {
    margin: 0;
    padding: 0;
    width: 100%;
}
@font-face {
    font-family: font_italic;
    src: url(../font/iCielBC1676ModernMap-Italic_0.ttf);
}
@font-face {
    font-family: regular;
    src: url(../font/iCielBCAuthentico-Regular.otf);
}
.nav {
    background-color: rgb(17, 17, 17);
    width: 100%;
    .previous {
        width: 20px;
        padding: 5px 10px 5px 10px;
        background-color: rgb(255, 105, 3);
        color: white;
        float: left;
    }
    .logo {
        img {
            width: 6em;
            margin-left: 10px;
            margin-top: 8px;
        }
        float: left;
    }
    .magazine {
        display: inline-block;
        img {
            height: 30px;
            margin-top: 3px;
        }
    }
    .button {
        padding-top: 4px;
        float: right;
        display: inline-flex;

        .button-share {
            margin-top: 3px;
            height: 16px;
            font-size: 0.9em;
            background-color: rgb(68, 93, 159);
            margin-left: 2px;
            padding: 2px;
            border-radius: 5px;
            font-weight: bold;
            a {
                color: white;
            }
            svg {
                width: 12px;
                margin-left: 5px;
                margin-top: 0px;
            }
        }
        .img {
            padding-top: 2px;
            margin-left: 2px;
            height: 20px;
        }
    }
}
.container {
    background-color: rgb(231, 228, 223);
    width: 100%;
    height: auto;
    .banner {
        position: relative;
        width: 100%;
        margin-bottom: -6px;
        img {
            width: 100%;
        }

        .wedding {
            color: white;
            position: absolute;
            top: 70px;
            left: 10%;
            font-size: 3.5rem;
        }
    }
}
.content {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    .picture-1 {
        background-image: url(../images/bg.jpg);
        background-repeat: no-repeat;

        .text-1,
        .text-3 {
            margin-top: 2em;
            margin-bottom: 2em;
            line-height: 2em;
            a {
                margin-top: 10px;
            }
        }
    }
}
@media screen and (min-width: 1000px) {
    .one img,
    .three img {
        width: 50%;
        float: left;
    }

    .text-1,
    .text-3 {
        padding-top: 5em;
        padding-left: 2em;
        float: left;
    }

    .text-2 {
        float: left;
        width: 40%;
        margin: 6em 3em 0 3em;
    }
    .two img {
        width: 50%;
        float: left;
    }
    .magazine {
        margin-left: 35%;
    }
}

@media screen and (max-width: 1000px) {
    .image img {
        width: 100%;
    }
    .text {
        margin: 2em 1em 2em 1em;
    }
    .magazine {
        margin-left: 10%;
    }
    .song-hy {
        img {
            width: 100px;
        }
    }
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.first {
    padding: 0;
    margin: 0;
    font-family: font_italic;
    color: $mycolor;
    font-size: 1.9rem;
}
.family {
    color: $mycolor;
    font-family: regular;
    font-size: 1.7rem;
    margin: 20px 0 20px 0;
    animation-name: exam;
    animation-name: 4s;
}
@keyframes exam {
    from {
        color: $mycolor;
    }
    to {
        color: rgb(131, 4, 78);
    }
}
.second {
    padding-top: 0;
    font-family: font_italic;
    font-size: 1.5rem;
    color: $mycolor;
    padding-bottom: 20px;
}
.map {
    color: white;
    background-color: $mycolor;
    padding: 5px 20px 5px 20px;
    font-family: font_italic;
    font-size: 1.4em;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
.album {
    margin-top: 3em;
    display: inline-flex;
    img {
        width: 33.1%;
        padding-top: 2vw;
        padding-bottom: 1.5vw;
        padding-left: 2px;
        cursor: pointer;
    }
    background-image: url(../images/br.jpg);
}
.footer {
    margin-top: 4em;
    position: relative;
    .end {
        display: block;
        position: absolute;
        text-align: center;
        width: 100vw;
        bottom: 0;
    }
    .thanks {
        color: rgb(196, 71, 43);
        font-family: font_italic;
        font-size: 30px;
    }
}
.prev {
    left: -11px;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 4vw 2vw;
    margin: 72px 0px 0px 11px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 2px;
    border-radius: 3px 0 0 3px;
}
.pointer a:hover {
    background-color: rgba($color: #ddd9d9, $alpha: 0.3);
}

.item {
    transition: 4s;
}
.item.item1:hover,
.item.item2:hover,
.item.item3:hover {
    transform: translateX(100px);
    .family {
        color: rgb(190, 9, 130);
    }
    animation-name: doimau;
}
