<!-- build:web-style -->
<link rel="stylesheet" href="assets/css/web-style.css">
<!-- /build:web-style -->

<!-- build:web -->
<div class="nav">
    <div class="previous">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
            data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14" role="img" viewBox="0 0 448 512">
            <path fill="currentColor"
                d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z" />
        </svg>
    </div>
    <div class="logo">
        <img src="assets/images/logo-k14.png" alt="logo">
    </div>
    <a class="magazine" href="#">
        <img src="assets/images/magazine.jpg" alt="">
    </a>
    <div class="button">
        <div class="button-share">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fab"
                    data-icon="facebook-square" class="svg-inline--fa fa-facebook-square fa-w-14" role="img"
                    viewBox="0 0 448 512">
                    <path fill="currentColor"
                        d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z" />
                </svg>
                Like
            </a>
        </div>

        <div class="button-share">
            <a href="#"> Share</a>
        </div>
        <div class="img">
            <img src="assets/images/comment.jpg" alt="">
        </div>
    </div>
</div>
<div class="container">
    <div class="banner">
        <img src="assets/images/banner-t.jpg" alt="">
    </div>
    <div class="content">
        <div class="picture-1">
            <div class="item item1">
                <div class="image one">
                    <a href="assets/images/left-1.png">

                        <img src="assets/images/left-1.png" alt="">
                    </a>
                </div>
                <div class="text text-1">
                    <p class="first"> Chiều thứ 6 này (1/1/2021)
                        <br> bạn có hẹn với chúng mình tại:
                    </p>
                    <div class="family">NHÀ TRAI</div>
                    <p class="second ">Số 1 - Đỗ Quang - TT Gia Lộc - Gia Lộc - Hải Dương
                        <br>
                        Vào lúc 15h30 - 16h30, thứ 6, ngày 01, tháng 01 năm 2021
                    </p>
                    <a href="#"><span class="map">Xem bản đồ</span></a>
                    <br>
                    <div class="family">NHÀ GÁI</div>
                    <p class="second">Khu 5 - Hương Nộn - Tam Nông - Phú Thọ
                        <br>
                        Vào lúc 15h-16h, thứ 6, ngày 01, tháng 01 năm 2021
                    </p>
                    <a href="#"><span class="map">Xem bản đồ</span></a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="item item2">

                <div class="text text-2">
                    <p class="first">Trân trọng kính mời Anh/ Chị tới dự Lễ Thành Hôn</p>
                    <div class="family">
                        ĐÌNH HẠNH & DẠ QUỲNH
                    </div>
                    <p class="second">
                        Được tổ chức vào lúc 10h45, thứ 7, ngày 02, tháng 01, năm 2021
                        <br>
                        (Tức ngày 20, tháng 11, năm Canh Tý)

                    </p>
                    <p class="second">
                        Tại nhà trai: Số 1 - Đỗ Quang - TT Gia Lộc - Gia Lộc - Hải Dương
                    </p>
                </div>
                <div class="image two">
                    <a href="assets/images/right.png">
                        <img src="assets/images/right.png" alt="">
                    </a>
                </div>


            </div>
            <div class="clearfix"></div>
            <div class="item item3">
                <div class="image three">
                    <a href="assets/images/left-2.png">
                        <img src="assets/images/left-2.png" alt="">
                    </a>
                </div>
                <div class="text text-3">
                    <p class="first">Trân trọng kính mời Anh/ Chị tới dự Lễ Vu Quy</p>
                    <div class="family">ĐÌNH HẠNH & DẠ QUỲNH</div>
                    <p class="second">
                        Được tổ chức vào lúc 7h45, thứ 7, ngày 02, tháng 01, năm 2021
                        <br>
                        (Tức ngày 20, tháng 11, năm Canh Tý)
                        <br>
                        Tại nhà gái:Khu 5 - Hương Nộn - Tam Nông - Phú Thọ

                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="album">
            <img class="list" src="assets/images/ab1.jpg" alt="">
            <img class="list" src="assets/images/ab2.jpg" alt="">
            <img class="list" src="assets/images/ab3.jpg" alt="">
            <img class="list" src="assets/images/ab1.jpg" alt="" style="display: none;">
            <img class="list" src="assets/images/ab2.jpg" alt="" style="display: none;">
            <img class="list" src="assets/images/ab3.jpg" alt="" style="display: none;">
            <div class="pointer">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            <img src="assets/images/bgfooter.png" alt="" style="width: 100%;">
        </div>
        <div class="end">
            <div class="song-hy">
                <img src="assets/images/song-hy.png" alt="">
            </div>
            <div class="thanks">
                Rất hân hạnh được đón tiếp!
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var xslide = 2;
    function plusSlides(n) {
        xslide = n + xslide;
        showSlides(xslide);
    }
    function showSlides(n) {
        var slides = document.getElementsByClassName("list");
        if (xslide > slides.length - 1) {
            xslide = slides.length - 1;
        } else if (xslide < 2) {
            xslide = 2;
        } else {
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[xslide - 2].style.display = "block";
            slides[xslide - 1].style.display = "block";
            slides[xslide].style.display = "block";
        }
    }
</script>
<!-- /build:web -->